* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-box {
  padding: 0.5em 0;
  margin: 0.5em;
  background-image: url(https://i.stack.imgur.com/fhEwl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.nav-box {
  margin: 0.5em;
  float: left;
  min-width: 12em;
  width: 33%;
  background-color: #ffffe0;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}

a:hover {
  color: #862413;
}

.content {
  margin: 0.5em;
  float: left;
  width: 60%;
}
